@model IEnumerable<QuanLyBanQuanAo.Models.LoaiSanPham>

@{
	ViewBag.Title = "Loại sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var grid = new WebGrid(Model, canPage: true, defaultSort: "TenLoaiSanPham", rowsPerPage: 10);
}


<h3 style="text-align:center;">Danh sách loại sản phẩm</h3>
<p>
	@Html.ActionLink("Thêm mới loại sản phẩm", "Create", "", new { @class = "btn btn-primary" })
</p>

<div id="gridContent">
	@ViewBag.TB
	@grid.GetHtml(
		tableStyle: "table table-bordered table-hover",
		footerStyle: "grid-footer",
		fillEmptyRows: true,
		mode: WebGridPagerModes.Numeric,
		alternatingRowStyle: "alternatingRowStyle",
		// Colums in grid.
		columns: new[]
								{
		// Số dòng,
		grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
		// The model fields to display.
		grid.Column("MaLoaiSanPham","Mã"),
		grid.Column("TenLoaiSanPham","Tên loại sản phẩm"),
		grid.Column("DVT","Đơn vị tính"),
		grid.Column("Chức năng", format: @<text>
		<a href="@Url.Action("Edit", new { id = item.MaLoaiSanPham})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><i class="bi bi-pencil"></i></abbr></a>
		<a href="@Url.Action("Details",new { id = item.MaLoaiSanPham})" class="edit-btn"><abbr title="Xem chi tiết"><i class="bi bi-briefcase"></i></abbr></a>
		<a href="@Url.Action("Delete",new { id = item.MaLoaiSanPham})" class="edit-btn"><abbr title="Xóa dữ liệu"><i class="bi bi-file-earmark-x"></i></abbr></a>
		</text>),
 })
</div>