@model QuanLyBanQuanAo.Models.DonViVanChuyen
@{
	ViewBag.Title = "Thông tin đơn vị vận chuyển: " + Model.TenDonVi;
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">@Model.TenDonVi</h2>

<div>
	<hr />
	<div class="row">
		<div class="col-md-2">
			<img width="200" height="200" style="border-radius:50%;margin-left:30px;margin-top:20px;" src="~/Images/shippers/@Html.DisplayFor(model => model.AnhDVVC)" />
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-9">
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => model.TenDonVi)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.TenDonVi)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.SDT)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.SDT)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Email)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Email)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.AnhDVVC)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.AnhDVVC)
				</dd>

			</dl>
			<p style="padding-top: 30px">
				@Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaDonVi }, new { @class = "btn btn-warning" }) |
				@Html.ActionLink("Xóa", "Delete", new { id = Model.MaDonVi }, new { @class = "btn btn-danger" })
			</p>
		</div>
		
	</div>
</div>

